#focus {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  row-gap: var(--img-focus-gap, 0);
  column-gap: var(--img-focus-gap, 0);
}

#focus::slotted(*) {
  flex-grow: 1;
  text-align: center;
}

@media (max-width: 50em) {
  #focus::slotted(*) {
    width: 100%;
  }
}

#focus.noflex::slotted(*) {
  flex-grow: unset;

  /* flex-grow transition after img-photo transition for smooth last line rendering */
  transition: flex-grow 0.5s ease 0.5s;
}

#zoom {
  display: none;
}
