@caption-color: var(--img-focus-caption-color, #fff);

#focus {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  row-gap: var(--img-focus-gap, 0);
  column-gap: var(--img-focus-gap, 0);
}

#focus::slotted(*) {
  flex-grow: 1;
  text-align: center;
}

@media (max-width: 50em) {
  #focus::slotted(*) {
    width: 100%;
  }
}

#focus.noflex::slotted(*) {
  flex-grow: unset;
}

#zoom {
  display: none;
}

#zoom-figure {
  display: grid;
  grid-template-rows: 2em calc(100% - 4em) 2em;
}

#zoom-image {
  grid-row-start: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#zoom-figcaption {
  grid-row-start: 3;
  align-self: center;
  text-align: center;
  font-family: sans-serif;
  color: @caption-color;
}
