#focus {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  row-gap: var(--img-focus-gap, 0);
  column-gap: var(--img-focus-gap, 0);
}

#focus::slotted(*) {
  flex-grow: 1;
}

@media (max-width: 50em) {
  #focus::slotted(*) {
    width: 100%;
  }
}

#focus.noflex::slotted(*) {
  flex-grow: unset;

  /* unset flex-grow after img-photo transition */
  transition: flex-grow 1s step-end;
}

#zoom {
  display: none;
}
