img {
  cursor: pointer;
  vertical-align: middle;
}

img.transition {
  transition: height 0.5s ease-in-out;
}

@media (min-width: 50em) {
  img {
    height: var(--img-focus-lines-height, 200px);
  }
}

@media (max-width: 50em) {
  img {
    width: 100%;
  }
}

#overlay {
  position: absolute;
}
